* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
}

header {
    background: #000;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
}

nav {
    z-index: 2;
    float: right;
    height: 40px;
    /* margin-right: 100px; */
}

#drop-down {
    display: block;
    width: 200px;
    height: 129px;
    overflow: hidden;
    background: #000;
    
    list-style: none;
    text-align: center;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    
    transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
}

#drop-down.closed {
    height: 40px;
}

#drop-down li {
    border-bottom: 3px solid #000;
}

#drop-down li a {
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    transition: color 0.15s ease;
    -webkit-transition: color 0.15s ease;
    -moz-transition: color 0.15s ease;
}

#drop-down li a:hover {
    color: #3ADBE0;
}

#drop-down.closed li:first-child a:after {
    content: "\25BC";
    float: right;
    width: 50px;
    font-size: 1.2rem;
    margin-left: -50px;
}

#drop-down li:first-child a:after {
    content: "\25B2";
    float: right;
    width: 50px;
    font-size: 1.2rem;
    margin-left: -50px;
}

main {
    z-index: 1;
    /* border: 3px red solid; */
    height: calc(100vh - 100px);
    width: 100%;
    margin: 0 auto;
}

/* SECTION Desktop / Laptop Devices */

@media screen and (min-width: 1000px) {

    main {
        width: 1000px;
    }

    nav {
        width: 1000px;
        margin: 0 auto;
    }

    #drop-down {
        float: right;
    }

}

/* SECTION iPhone Devices */


