* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

header {
    background: #2C92F7;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;
}

nav {
    z-index: 2;
    float: right;
    height: 40px;
    margin-right: 100px;
    background: pink;
}

#drop-down {
    display: block;
    width: 200px;
    height: 172px;
    overflow: hidden;
    
    background: pink;
    list-style: none;
    text-align: center;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    
    transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
}

#drop-down.closed {
    height: 40px;
}

#drop-down li {
    border-bottom: 3px black solid;
}

#drop-down li a {
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000;
}

#drop-down.closed li:first-child a:after {
    content: "\25BC";
    float: right;
    width: 50px;
    font-size: 1.2rem;
    margin-left: -50px;
}

#drop-down li:first-child a:after {
    content: "\25B2";
    float: right;
    width: 50px;
    font-size: 1.2rem;
    margin-left: -50px;
}

main {
    z-index: 1;
}