#outer-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    border: 10px black groove;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.project {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-flow: row nowrap;
    margin: 20px;
}

/* #project1 {
    margin-bottom: 100px;
} */

img {
    width: 400px;
    height: auto;
    margin: 20px;
}

span {
    border-bottom: 2px solid #000;
    width: 70%;
}

.info-container {
    width: 50%;
    margin: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.info-container h1 {
    font-family: "Josefin Sans", sans-serif;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.gutters {
    width: 100%;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0 20px 0;
}

.descriptor {
    font-size: 1.15rem;
}

@media screen and (max-width: 860px) {

    .project {
        flex-flow: column nowrap;
        align-items: center;
        margin: 0;
    }

    img {
        max-width: 310px;
        min-width: 300px; 
    }

    .info-container {
        width: 90%;
        text-justify: auto;
    }

    #project1 {
        margin-bottom: 40px;
    }

    #project2 {
        margin-top: 40px;
    }


}