
/* main {
    height: 200vh;
} */

#outer-container {
    display: flex;
    flex-flow: column nowrap;

    border: 10px black groove;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.project {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-flow: row nowrap;
}

#project1 {
    margin-bottom: 50px;
}

img {
    max-height: 600px;
}

.info-container {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.info-container h1 {
    font-family: "Josefin Sans", sans-serif;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.gutters {
    width: 100%;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 20px 0 20px 0;
}

.descriptor {
    font-size: 1.15rem;
}

@media screen and (max-width: 860px) {

    .project {
        flex-flow: column nowrap;
        align-items: center;
    }

    #project2 {
        margin-top: 100px;
    }
    .info-container {
        width: 100%;
    }

    img {
        max-width: 310px;
    }

}